.naslovna {
    padding: 30px;
    color: #fff;
    background-color: #eee;
    height: 400px;
    background: -webkit-linear-gradient(rgb(114, 114, 114),rgba(255, 255, 255, 0));
    background: linear-gradient(rgb(114, 114, 114), rgba(255, 255, 255, 0));
    background-size: cover;
}
.naslovna hr {
    width: 80%;
    margin: 5px auto;
    border-color: #eee;
}
.naslovna h1,
.naslovna .h1 {
    color: inherit;
    font-size: 56px;
    text-align: center;
    margin: 0 auto;
    padding:20px;
    font-weight: 100;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.naslovna h2,
.naslovna .h2 {
    font-weight: 100;
    letter-spacing: 2px;
    color: inherit;
}
.container .naslovna {
    border-radius: 6px;
}
.naslovna .container {
    max-width: 100%;
}
@media screen and (min-width: 768px) {
    .naslovna {
      padding-top: 48px;
      padding-bottom: 48px;
    }
    .container .naslovna {
      padding-left: 60px;
      padding-right: 60px;
    }
}
@media screen and (max-width: 768px) {
    .naslovna h1,
    .naslovna .h1 {
      font-size: 35px;
    }
    .naslovna h2,
    .naslovna .h2 {
      font-size: 21px;
    }
}

.section {
    font-size: 56px;
    text-align: center;
    margin-top: 35px;
    letter-spacing: 3px;
    font-weight: 500;
    color: rgb(165, 165, 165);
    text-transform: capitalize;
}

.container2 {
    font-size: 15px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-left: 200px;
    padding-right: 200px;
    background-color: rgb(165, 165, 165);
    color:black;
}

.digvjestinebold {
    background-color: #eee;
    color:rgb(165, 165, 165);
    padding: 10px;
}
